* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Inter;
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: Inter;
  src: url('./Font/Inter-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Inter;
  src: url('./Font/Inter-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Inter;
  src: url('./Font/Inter-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: Inter;
  src: url('./Font/Inter-Bold.ttf');
  font-weight: 700;
}

.navbarBackground {
  background: url('http://axa.gov.az/uploads/images/settings/origin-1662659595.webp') no-repeat;
  background-size: cover;
  height: 100vh;
}

.forheight {
  margin-top: 10%
}

.container {
  max-width: 1140px;
}

/* NAVBARTOP  */

.text-center {
  margin-bottom: 8px;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
}

.nav-area {
  justify-content: space-between;
  align-items: center;
  margin: 0px 5px;
  padding: 8px 0px;
}

.logo-area {
  max-width: 50%;
  padding: 0px;
}

.logo-area a {
  padding: 0px 15px;
}

.nav-right {
  align-items: center;
  vertical-align: middle;
  padding: 0px 15px;
  height: 100%;
}

.nav-right ul {
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  padding: 0px;
  height: 100%;
  margin: 0px;
  align-items: center;
}

.nav-right ul li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: white;
}

/* NAVBAR TOP END */

/* NAVBAR CENTER  */

.cards-area {
  height: 50vh;
}

.cards-area .row .col-lg-6 {
  padding: 0px;
  height: 100%;
}

.la {
  height: 100%;
}

.formargin {
  margin: 0px 10px;
  height: 100%;
  border-left: 2px solid white;
}

.card-area {
  padding: 50px 10px;
  height: 100%;
}

.card-area a {
  color: white;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.outline {
  margin: 0px !important;
  height: 100%;
}

.formargin {
  height: 100%;
}

.outline :hover .card-area {
  background-color: white;
  border-top-right-radius: 60px 60px;
}

.outline :hover .card-area a {
  color: hsl(173deg 72% 28%);
}

.outline:hover .formargin {
  border-top-right-radius: 60px 60px;
  border: 1px solid white;
}

.card-area .green-img {
  display: none;
}

.formargin:hover .white-img {
  display: none !important;
}

.formargin:hover .green-img {
  display: block !important;
}

.outline:hover p {
  border-top: 2px solid hsl(173deg 72% 28%);
}

.card-area .white-img {
  padding: 0px 0px 8px;
  height: 38px !important;
  filter: brightness(100);
  -webkit-filter: brightness(100);
}

.card-area .green-img {
  padding: 0px 0px 8px;
  height: 38px !important;
}

.card-area h4 {
  height: 110px;
  font-size: 17px;
  font-weight: 600;
  text-size-adjust: 100%;
}

.card-area p {
  font-size: 13px;
  padding-top: 10px;
  font-weight: 500;
  overflow-wrap: break-word;
  border-top: 2px solid white;
}

/* NAVBAR CENTER END  */

/* MAIN CAROUSEL  */

.trackc {
  position: relative;
}

.trackc > * {
  position: static;
}

.react-multiple-carousel__arrow {
  background-color: white;
}

.react-multiple-carousel__arrow::before {
  background-color: white;
  font-size: 60px;
  color: hsl(173deg 72% 28%);
}

.trackc .multiple-carousel__arrow--left {
  left: 5px;
}

.main-carousel-item {
  width: 250px;
  display: block;
  text-decoration: none;
  padding: 8px;
  height: 165px;
  border-radius: 15px;
  background-color: white;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.main-carousel-item:hover {
  background-color: hsl(173deg 72% 28%);
}

.main-carousel-item:hover p {
  color: white;
}

.main-carousel-item:hover img {
  filter: brightness(100);
  -webkit-filter: brightness(100);
}

.main-carousel-item img {
  padding-top: 10px;
  margin: 8px 0px;
}

.main-carousel-item p {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  padding: 16px 0px;
  color: hsl(173deg 72% 28%);
}

.trackc {
  background-color: hsl(0deg 0% 98%);
}

/* NEWS start */

.left-link {
  text-decoration: none;
}

.news-left img{
  width: 100%;
  height: 500px;
  object-fit: cover;
  -o-object-fit: cover;
}

.news-left h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  margin: 15px 0px 10px;
  color: hsl(173deg 72% 28%);
}

.news-left p {
  font-size: 14px;
  font-weight: 400;
  color: hsl(173deg 72% 28%);
}

.news-right {
  flex-direction: column;
  justify-content: space-between;
}

.news-right a {
  text-decoration: none;
}

.news-right img {
  width: 218px;
  margin-right: 20px;
  object-fit: cover;
  height: 188px;
}

.news-right h5 {
  margin-bottom: 8px;
  line-height: 22px;
  font-size: 15px;
  font-weight: 600;
  color: hsl(173deg 72% 28%);
}

.news-right p {
  font-size: 13px;
  margin: 0px 22px 5px 0px;
  font-weight: 500;
  color: hsl(173deg 72% 28%);
}

.allNews {
  margin-top: 15px;
  padding: 10px 15px;
  border: 1px solid hsl(173deg 72% 28%);
}

.allNews:hover {
  background-color: hsl(173deg 72% 28%);
}

.allNews:hover a {
  color: white;
}

.allNews a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: hsl(173deg 72% 28%);
}

/* BANNER  */

.banner-header {
  height: 523px;
  display: flex;
  justify-content: space-between;
}

.banner-left {
  width: 50%;
  position: relative;
}

.banner-left img {
  width: 100%;
  height: 523px;
  object-fit: cover;
}

.banner-left-text {
  position: absolute;
  bottom: 71px;
  left: 40px;
}

.banner-left-text a {
  font-size: 2.5rem;
  color: white;
  text-decoration: none;
}

.banner-right {
  width: 50%;
}

.banner-right-top {
  height: 50%;
}

.banner-right-top-left {
  width: 50%;
}

.banner-right-top-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-right-top-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 20px;
  justify-content: center;
}

.banner-right-top-right a {
  text-decoration: none;
  color: hsl(173deg 72% 28%);
}

.banner-right-bottom {
  text-decoration: none;
}

.banner-right-bottom-text {
  background-color: hsl(180deg, 16%, 42%);
  height: 261px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-right-bottom-text h5 {
  font-size: 40px;
  color: white;
}

